<h1>
  Create a new frog
</h1>

<%= form_for(@frog) do |f| %>
<%= f.text_field :name, placeholder: "Name" %> 
<br>
<%= f.text_field :color, placeholder: "Color" %> 
<%= f.collection_select(:pond_id, @ponds, :id, :name) %>
<%= f.submit %>
<% end %>

<%= link_to "Cancel", frogs_path %>


<!-- <h1>Create a new frog</h1>
<form action="/frogs" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="color">Color</label>
  <input type="text" id="color" name="color">
  <label for="lives">Lives</label>
  <select id="lives" name="pond_id">
    <#% @ponds.each do |pond| %>
      <option value="<#%= pond.id %>"><#%= pond.name %></option>
    <#% end %>
  </select>
  <input type="submit" value="create">
</form><br>
<a href="/frogs">Cancel</a> -->